.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

legend{
	margin-bottom:-10px;
	width: 1px;
	display: none;
}

fieldset {
  border: 1px solid #cccccc;
  padding: 10px;
}


@media screen and (max-width: 799px) {
	.flex-container {
		width: 800px;
	}
	.summary {
		flex-grow: 100%;
	}
	.summary-action {
		width: 15%;
	}
	.help-center {
		width: 30%;
	}
	.step-by-step {
		width: 100%;
	}
	.step-1 {
		width: 100%;
	}
	.step-2 {
		width: 100%;
	}
	.step-3 {
		flex-grow: 100%;
	}
	.step-4 {
		width: 60%;
	}
	.step-5 {
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	.flex-container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	.summary {
		flex-grow: 100%;
	}
	.summary-action {
		width: 15%;
	}
	.help-center {
		width: 30%;
	}
	.step-by-step {
		width: 100%;
	}
	.step-1 {
		width: 100%;
	}
	.step-2 {
		width: 100%;
	}
	.step-3 {
		flex-grow: 100%;
	}
	.step-4 {
		width: 60%;
	}
	.step-5 {
		width: 100%;
	}
}

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background: lightgray;
}

form {
	background: white;
}

h1 {
	font-size: 18pt;
}

/*#go-back-button {
	float: left;
}

#sign-in-button {
	float: right;
}*/

.center {
	text-align: center;
}

.button {
	height: 42px;
	border: 1px solid gray;
	border-radius: 5px;
}

.image-radio {
	width: 30%;
}

.tile {
	width: 50%;
}

.padded {
	padding: 10px;
}

/* Styles for checked borders (new - from lecture) */

.select-wrapper {
	position: relative;
	z-index: 1;
	border: 3px solid transparent;
	border-radius: 3px;
}

input[type="radio"]:checked + .select-wrapper {
	border: 3px solid lightblue;
	border-radius: 3px;
}

input[type="radio"]:checked + .select-wrapper:after {
	font-family: "FontAwesome";
	content: "\f058";
	position: absolute;
	top: -8px;
	right: -8px;
	color: lightblue;
	font-size: 18pt;
	z-index: 2;
	background-color: #ffffff;
	line-height: 8pt;
}

/* Hide radio old */

/*input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + div {
	position: relative;
	border: 5px solid #417fff;
}

input[type="radio"]:unchecked + div {
	position: relative;
	border: 5px solid transparent;
}

*/

/* Styles for checked borders old */

/*.hidden {
	display: none;
}

.corner {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: transparent;
}

.top-right {
	top: -10px;
	right: -10px;
}

*/