body {
	padding: 40px;
}

.check {
	background: #cfcfcf;
	width: 300px;
	height: 200px;
	position: relative;
	border: 5px solid #417fff;
}

.corner {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: transparent;
}

.top-right {
	top: -10px;
	right: -10px;
}